{% extends "authentication/base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="h-full w-full flex flex-col gap-[1rem] items-center justify-center">
    <p class="test-center font-secondary text-lg">Reset password here:</p>
    <form hx-post="{{ request.path }}" hx-target="#messages" hx-swap="innetHTML" class = "w-full min-w-max max-w-[30rem] h-auto flex flex-col items-center gap-[1rem]">
        {% csrf_token %}
        {% render_field form.new_password type="password" placeholder="New password" class="font-secondary text-sm border-2 border-gray-300 h-8 w-[20rem] px-[1rem]"%}
        {% render_field form.new_password_confirm type="password" placeholder="Confirm new password" class="font-secondary text-sm border-2 border-gray-300 w-[20rem] h-8 px-[1rem]"%}
        <button type="submit" class="w-[7rem] h-10 px-[1rem] py-[0.1rem] bg-primary border-2 border-primary text-lg text-white text-center font-secondary transition-all ease-in duration-100 hover:bg-white hover:text-primary"> Submit </button>
        <div id="messages" class="w-full h-8 text-center">

        </div>
    </form>
</div>

{% endblock content %}


