{% extends "authentication/base.html" %}

{% load widget_tweaks %}

{% block content %}

<div class="w-full h-full flex flex-col justify-center items-center">
    <div class="flex flex-col gap-[1rem] items-center justify-center h-auto w-full max-w-[30rem]">
        <p class="text-red-800 text-center font-secondary text-lg">The link you are using is invalid</p>
        <p class="text-center font-secondary text-sm">It seems the link you are using is invalid, expired or has been temperred with</p>
        <p class="text-center font-secondary text-lg">Consider the following options:</p>
        <ul class="text-sm font-secondary list-disc">
            <li>Check the email. You may have submitted several requests and are using not the most recent link</li>
            <li>Sumbit another request on the loging page <a href="{% url 'login' %}" class="underline text-primary">HERE</a>. Wait for am email to appear in your mailbox and follow the instructions.</li>
        </ul>
    </div>
</div>

{% endblock content %}