<div id="education_table" class="w-[50rem] mt-6" {% if swap_oob %}hx-swap-oob="true"{% endif %}>
    <h2 class="text-xl font-semibold text-sky-600 mb-3">Education</h2>

    <div class="overflow-hidden rounded-lg shadow-md">
        <table class="w-full border-collapse">
        <thead class="bg-sky-50">
            <tr>
                <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Year</th>
                <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Educational facility</th>
                <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Field of study</th>
                <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Degree</th>
                <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">GPA</th>
                <th class="px-6 py-3"></th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
            {% for edu in education_list %}
                <tr class="hover:bg-sky-50">
                    <td><p class="px-6 py-4 text-sm text-gray-800">{{edu.start_year}} {% if edu.ongoing %}- present {% else %} - {{edu.end_year}} {% endif %}</p></td>
                    <td class="px-6 py-4 text-sm text-gray-800">{{edu.institution}}</td>
                    <td class="px-6 py-4 text-sm text-gray-800">{{edu.specialization}}</td>
                    <td class="px-6 py-4 text-sm text-gray-800">{{edu.degree}}</td>
                    <td class="px-6 py-4 text-sm text-gray-800">{{edu.gpa}}</td>
                    <td class="px-6 py-4 text-sm text-gray-800">
                        <button class="p-2 rounded-full hover:bg-sky-100">
                        ✏️
                        </button>
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
        </table>
    </div>

    <div class="mt-3 text-center">
        <button class="text-sky-600 hover:underline font-medium" hx-trigger="click" hx-get="{% url "education_create" %}" hx-target="body" hx-swap="beforeend">+ Add another</button>
    </div>
</div>