<div class="w-full h-14 bg-white flex flex-row place-items-center justify-between px-10 py-1 border-b-2 border-primary">
    <div class="w-[5rem]">
        <p class="font-primary text-primary text-xl text-center">JFinder</p>
    </div>
    <div class="flex flex-row justify-between gap-15">
        <ul class="flex flex-row justify-center gap-20">
            <li><a href="{% url "dashboard" %}" class="">Dashboard</a></li>
            <li><a href="{% url "search" %}" class="">Search</a></li>
            <li><a href="{% url "profile" %}" class="">Profile</a></li>
        </ul>
        <div class="w-0.5 bg-black">

        </div>
        <div class="">
            Portrait here
        </div>
    </div>
</div>