{% load static %}

{% load widget_tweaks %}

<div class="grid grid-cols-1 place-items-center fixed top-0 bottom-0 right-0 left-0 z-[100]" id="modal" _="on closeModal remove me">
    <div class="absolute top-0 bottom-0 right-0 left-0 bg-gray-950/60 -z-1" _="on click trigger closeModal">
    </div>
        <div class="w-3/5 max-w-[500px] bg-white rounded-2xl grid grid-cols-1 place-items-center gap-5 py-10 px-20">
            <div class="w-full">
                <p class="font-primary text-black text-2xl">Forgot your password?</p>
                <p class="font-secondary text-black text-sm">We will send a password reset link to your email</p>
            </div>

            <form id="password-reset-link-request" hx-post="{% url "pw_reset_modal" %}" hx-target="#messages" hx-swap="innerHTML">

                {% csrf_token %}

                {% render_field form.email class="form-input-field text-sm" placeholder="Your email goes here"%}
                
            </form>

            <div id="messages" class="">

            </div>
            {% comment %} <div class="w-full font-secondary text-[16px]">
                <p>Email</p>
                <input class="form-input-field" type="email" placeholder="Your email goes here">
            </div> {% endcomment %}
            <div class="w-full">
                <button type="submit" 
                form="password-reset-link-request" 
                class="w-full h-7 bg-primary font-secondary border-primary border-2 text-sm text-white text-center rounded-2xl shadow-md transition-all duration-400 hover:scale-102 hover:ease-in-out"
                >Send the link for password reset</button>
            </div>
            <div _="on click trigger closeModal" class="w-full">
                <input _="on click trigger closeModal" class="w-full h-7 bg-white font-secondary text-sm text-black text-center rounded-2xl shadow-md border-gray-400 border-2 transition-all duration-400 hover:scale-102 hover:ease-in-out" type="button" value="Go back to Log In" _="on click trigger closeModal">
            </div>
            <div class="w-full flex flex-row justify-center font-secondary text-black text-sm">
                <p>Don't have account yet? <a class="link-text" href="{% url "register" %}">Register here </a></p>
            </div>
        </div>
</div>