{% extends "base.html" %}
{% load static %} 
{% load widget_tweaks %} 

{% block content %}
{% comment %} <div class="dashboard-wrapper "> {% endcomment %}
<main class="w-full max-h-[calc(100dvh-120px)] p-6 gap-6 grid grid-cols-12"></div>

    <aside class="col-span-2 p-4 rounded-xl shadow-md border-gray-200 bg-white overflow-y-auto">
        <!-- Profile section -->
        <div class="flex flex-col items-center py-6 px-4 border-b border-gray-200">
            {% comment %} <img src="avatar.png" alt="Profile picture" class="w-20 h-20 rounded-full mb-2"> {% endcomment %}
            <div class="w-20 h-20 rounded-full mb-2 bg-gray-200"></div>
            <h3 class="font-semibold text-gray-800">Name Surname</h3>
            <p class="text-sm text-gray-500">Data Scientist</p>
            <button class="mt-3 px-3 py-1 text-sm rounded bg-blue-600 text-white hover:bg-blue-700">
            Edit Profile Data
            </button>
        </div>

        <!-- Navigation -->
        <nav class="flex-1 px-4 py-6 space-y-6" id="dashboard-nav">
            <!-- Personal Section -->
            <div>
                <p class="text-xs uppercase text-gray-400 mb-2">Personal</p>
                {% for key, value in navigation.items %}
                    {% if value.section == "personal" %}
                        <a
                            class="flex items-center px-3 py-2 rounded-lg text-gray-700 hover:bg-gray-100 {{value.selected|yesno:"selected, "}}"
                            hx-get="{{value.url}}" hx-trigger="click" hx-target="#dashboard-container" hx-swap="innerHTML" _="on click if I do not match .selected then remove .selected from <a/> in #dashboard-nav add .selected to me trigger swap on me"
                            >
                            {{value.label}}
                        </a>
                    {% endif %}
                {% endfor %}
                {% comment %} <a href="#"
                    class="flex items-center px-3 py-2 rounded-lg text-blue-600 font-semibold bg-blue-100">
                    <i class="fas fa-user mr-3"></i> Profile
                </a>
                <a href="#"
                    class="flex items-center px-3 py-2 rounded-lg text-gray-700 hover:bg-gray-100">
                    <i class="fas fa-file-alt mr-3"></i> CV Builder
                </a>
                <a href="#"
                    class="flex items-center px-3 py-2 rounded-lg text-gray-700 hover:bg-gray-100">
                    <i class="fas fa-cog mr-3"></i> Settings 
                </a>{% endcomment %}
            </div>

            <!-- Activity Section -->
            <div>
                <p class="text-xs uppercase text-gray-400 mb-2">Activity</p>
                {% for key, value in navigation.items %}
                    {% if value.section == "activity" %}
                        <a
                            class="flex items-center px-3 py-2 rounded-lg text-gray-700 hover:bg-gray-100 {{value.selected|yesno:"selected, "}}"
                            hx-get="{{value.url}}" hx-trigger="click" hx-target="#dashboard-container" hx-swap="innerHTML" _="on click if I do not match .selected then remove .selected from <a/> in #dashboard-nav add .selected to me trigger swap on me"
                            >
                            {{value.label}}
                        </a>
                    {% endif %}
                {% endfor %}
                {% comment %} <a href="#"
                    class="flex items-center px-3 py-2 rounded-lg text-gray-700 hover:bg-gray-100">
                    <i class="fas fa-bookmark mr-3"></i> Bookmarks
                </a>
                <a href="#"
                    class="flex items-center px-3 py-2 rounded-lg text-gray-700 hover:bg-gray-100">
                    <i class="fas fa-envelope mr-3"></i> Inbox
                </a>
                <a href="#"
                    class="flex items-center px-3 py-2 rounded-lg text-gray-700 hover:bg-gray-100">
                    <i class="fas fa-chart-line mr-3"></i> Stats
                </a> {% endcomment %}
            </div>
        </nav>
    </aside>
    <div id="dashboard-container" class="bg-white rounded-xl shadow-md p-6 col-span-10 overflow-y-auto" hx-get="{{selected}}" hx-trigger="load" hx-target="#dashboard-container" hx-swap="innerHTML">
        {% comment %} {% include "dashboard/components/stats.html" %} {% endcomment %}
    </div>
</main>
{% endblock content %}