{% extends "base.html" %}
{% load static %} 
{% load widget_tweaks %} 

{% block content %}
<div class="dashboard-wrapper">
    <div class="dashboard-sidebar border-r-2 border-gray-400">
        <div class="flex flex-col w-full h-[5rem] justify-center items-center">
            <p _="on click remove me">Nvigation here</p>
        </div>
        <nav id="dashboard-nav" class="flex flex-col gep-3 pr-3 pl-3 w-full">
            {% comment %} <a class="_nav-switch flex flex-row w-full h-[2rem] justify-center" hx-get="/dashboard/history_cmp" hx-trigger="swap" hx-target="#dashboard-container" hx-swap="innerHTML" _="on click if I do not match .selected then remove .selected from <a/> in #dashboard-nav add .selected to me trigger swap on me">History</a>
            <a class="_nav-switch flex flex-row w-full h-[2rem] justify-center" hx-get="/dashboard/profile_cmp" hx-trigger="swap" hx-target="#dashboard-container" hx-swap="innerHTML" _="on click if I do not match .selected then remove .selected from <a/> in #dashboard-nav add .selected to me trigger swap on me">Profile</a>
            <a class="_nav-switch flex flex-row w-full h-[2rem] justify-center" hx-get="/dashboard/bookmarks_cmp" hx-trigger="swap" hx-target="#dashboard-container" hx-swap="innerHTML" _="on click if I do not match .selected then remove .selected from <a/> in #dashboard-nav add .selected to me trigger swap on me">Bookmarks</a>
            <a class="_nav-switch flex flex-row w-full h-[2rem] justify-center" hx-get="/dashboard/inbox_cmp" hx-trigger="swap" hx-target="#dashboard-container" hx-swap="innerHTML" _="on click if I do not match .selected then remove .selected from <a/> in #dashboard-nav add .selected to me trigger swap on me">Inbox</a> {% endcomment %}
            {% for nav_element in navigation %}
            <a class="flex flex-row w-full h-[2rem] justify-center {{nav_element.is_selected|yesno:"selected, "}}" hx-get="{{nav_element.url}}" hx-trigger="swap" hx-target="#dashboard-container" hx-swap="innerHTML" _="on click if I do not match .selected then remove .selected from <a/> in #dashboard-nav add .selected to me trigger swap on me">{{nav_element.label}}</a>
            {% endfor %}
        </nav>
    </div>
    <div id="dashboard-container" class="dashboard-container">
        {% include "dashboard/components/stats.html" %}
    </div>
</div>
{% endblock content %}