<p class="text-lg text-blue-600 font-semibold">Header</p>
<div class="space-y-2">
    <article class="w-full px-4 flex flex-row gap-2">
        <input type="checkbox" class="checkbox checkbox-success" checked="checked">
        <div class="collapse">
            <input type="checkbox" checked="checked" />
            <div class="collapse-title p-0 font-bold flex flex-row space-x-2">
               <span>Personal information </span>
               <div class="flex flex-row gap-1">
                    <button class="btn btn-info z-10 h-4/6">Edit</button>
                    <button class="btn btn-error z-10 h-4/6">Delete</button>
               </div>
            </div>
            <div class="collapse-content px-0">
                <div class="w-full flex flex-row space-x-2 ">
                    <div class="space-x-2">
                        <label for="" class="font-bold">Name:</label>
                        <span>{{name.data}}</span>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="w-full px-4 flex flex-row gap-2">
        <input type="checkbox" class="checkbox checkbox-success" checked="checked">
        <div class="collapse" _="on mouseenter send show to #tooltip in .collapse-title in me
       on mouseleave send hide to #tooltip in .collapse-title in me">
            <input type="checkbox" checked="checked" />
            <div class="collapse-title p-0 font-bold flex flex-row space-x-2">
               <span>Contact information </span>
               <div id="tooltip" class="gap-1 flex flex-row">
                    <button class="btn btn-info h-4/6">Edit</button>
                    <button class="btn btn-error h-4/6">Delete</button>
               </div>
            </div>
            <div class="collapse-content px-0">
                <div class="w-full flex flex-row space-x-2 ">
                    <div class="space-x-2">
                        <label for="" class="font-bold">Phone:</label>
                        <span>{{phone.data}}</span>
                    </div>
                    <div class="space-x-2">
                        <label for="" class="font-bold">Email:</label>
                        <span>{{email.data}}</span>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="w-full px-4 flex flex-row gap-2">
        <input type="checkbox" class="checkbox checkbox-success" checked="checked">
        <div class="collapse">
            <input type="checkbox" checked="checked" />
            <div class="collapse-title p-0 font-bold flex flex-row space-x-2">
               <span>About me</span>
               <div class="flex flex-row gap-1">
                    <button class="btn btn-info z-10 h-4/6">Edit</button>
                    <button class="btn btn-error z-10 h-4/6">Delete</button>
               </div>
            </div>
            <div class="collapse-content px-0">
                <p>{{about.data}}</p>
            </div>
        </div>
    </article>
</div>