<p class="text-lg text-blue-600 font-semibold">Skills</p>
    <article class="w-full flex flex-row px-4 gap-2">
        <input type="checkbox" class="checkbox checkbox-success" checked="checked">
        <div class="collapse">
            <input type="checkbox">
            <div class="collapse-title p-0 font-bold flex flex-row justify-between">
               <span>Soft skills</span>
               <div class="flex flex-row gap-1">
                    <button class="btn btn-info z-10 h-4/6">Edit</button>
                    <button class="btn btn-error z-10 h-4/6">Delete</button>
               </div>
            </div>
            <div class="collapse-content flex flex-wrap space-y-2 space-x-2">
                {% for _ in 111111|make_list %}<div class="badge badge-soft badge-success">German</div>{% endfor %}
            </div>
        </div>
    </article>

    <article class="w-full flex flex-row px-4 gap-2">
        <input type="checkbox" class="checkbox checkbox-success" checked="checked">
        <div class="collapse">
            <input type="checkbox">
            <div class="collapse-title p-0 font-bold flex flex-row justify-between">
               <span>Hard skills</span>
               <div class="flex flex-row gap-1">
                    <button class="btn btn-info z-10 h-4/6">Edit</button>
                    <button class="btn btn-error z-10 h-4/6">Delete</button>
               </div>
            </div>
            <div class="collapse-content flex flex-wrap space-y-2 space-x-2">
                {% for _ in 11111111111111111|make_list %}<div class="badge badge-soft badge-success">German</div>{% endfor %}
            </div>
        </div>
    </article>
</div>