<div class="w-full flex flex-row items-center justify-between">
    <p class="text-lg text-blue-600 font-semibold">Experience</p>
    <div class="space-x-2">
        <span class="font-semibold">Display:</span>
        <input type="checkbox" class="toggle toggle-success" checked={% if Experience.show %}"checked"{% else %}""{% endif %}>
    </div>
</div>
<div class="space-y-2">
    {% for key, value in experience.data.items %}
    <article class="w-full flex flex-row px-4 gap-2">
        <input type="checkbox" class="checkbox checkbox-success" {% if value.show %}checked="checked"{% endif %}>
        <div class="collapse">
            <input type="checkbox">
            <div class="collapse-title p-0 font-bold flex flex-row space-x-2">
               <span>{{value.data.company}}</span>
               <div class="flex flex-row gap-1">
                    <button class="btn btn-info z-10 h-4/6">Edit</button>
                    <button class="btn btn-error z-10 h-4/6">Delete</button>
               </div>
            </div>
            <div class="collapse-content flex flex-col space-y-2 px-0">
                <p>
                    <span class="font-bold mr-2">Company description:</span>{{value.data.company_description}}
                </p>
                <p>
                    <span class="font-bold mr-2">Position:</span>{{value.data.position}}
                </p>
                <p>
                    <span class="font-bold mr-2">Position description:</span>{{value.data.position_description}}</p>
                <div class="flex flex-row gap-2">
                    <span class="font-bold mr-2">Start date::</span><span>{{value.data.start_date}}</span>
                    <span class="font-bold mr-2">End date</span><span>{% if value.data.ongoing %}Ongoing{% else %}{{value.data.end_date}}{% endif %}</span>
                </div>
            </div>
        </div>
    </article>
    {% endfor %}
    <div class="w-full flex flex-col justify-center items-center" hx-trigger="click" hx-get="{% url "editor_create_entity" %}?entity_type=experience" hx-target="#sections-container">
        <span class="py-1 px-2 text-center border-2 border-slate-300 rounded-xl shadow-md cursor-pointer">Add new</span>
    </div>
</div>