<p class="text-lg text-blue-600 font-semibold">Experience</p>
<div class="space-y-2">
    {% for _ in 11|make_list %}
    <article class="w-full flex flex-row px-4 gap-2">
        <input type="checkbox" class="checkbox checkbox-success" checked="checked">
        <div class="collapse">
            <input type="checkbox">
            <div class="collapse-title p-0 font-bold flex flex-row justify-between">
               <span>Company Name</span>
               <div class="flex flex-row gap-1">
                    <button class="btn btn-info z-10 h-4/6">Edit</button>
                    <button class="btn btn-error z-10 h-4/6">Delete</button>
               </div>
            </div>
            <div class="collapse-content flex flex-col space-y-2">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nostrum soluta eum mollitia obcaecati nisi id deserunt, 
                    blanditiis labore, consequatur reiciendis aspernatur molestias praesentium error! Modi doloremque laborum sed nam?
                </p>
                <span>Position</span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nostrum soluta eum mollitia obcaecati nisi id deserunt, 
                    blanditiis labore, consequatur reiciendis aspernatur molestias praesentium error! Modi doloremque laborum sed nam?</p>
                <div class="flex flex-row gap-2">
                    <span>24.06.2001</span>
                    <span>12.05.2092</span>
                </div>
            </div>
        </div>
    </article>
    {% endfor %}
</div>