<div class="w-full flex flex-row items-center justify-between">
    <p class="text-lg text-blue-600 font-semibold">Soft skills</p>
    <div class="space-x-2">
        <span class="font-semibold">Display:</span>
        <input type="checkbox" class="toggle toggle-success" checked={% if soft_skills.show %}"checked"{% else %}""{% endif %}>
    </div>
</div>
<div class="space-x-2"></div>
    <article class="w-full flex flex-wrap px-4 space-x-6 space-y-2">
        {% for key, value in soft_skills.data.items %}
        <div class="indicator border-2 border-green-300 border-dashed rounded-xl p-1">
            <div class="tooltip indicator-item indicator-end status status-error h-3 w-3 rounded-full cursor-pointer" _="on click remove closest parent <div.indicator/>" data-tip="Remove">
            </div>
            <input type="checkbox" class="checkbox checkbox-success" checked="checked">
            <span class="px-2">{{value.data.title}}</span>
        </div>
        {% endfor %}
        <div class="px-2 py-1 h-max text-center border-2 border-slate-300 rounded-xl shadow-md cursor-pointer" hx-trigger="click" hx-get="{% url "editor_create_entity" %}?entity_type=soft_skills" hx-target="#sections-container">
            Add new
        </div>
    </article>
</div>

<div class="w-full flex flex-row items-center justify-between">
    <p class="text-lg text-blue-600 font-semibold">Hard skills</p>
    <div class="space-x-2">
        <span class="font-semibold">Display:</span>
        <input type="checkbox" class="toggle toggle-success" checked={% if hard_skills.show %}"checked"{% else %}""{% endif %}>
    </div>
</div>
<div class="space-x-2"></div>
    <article class="w-full flex flex-wrap px-4 space-x-6 space-y-2">
        {% for key, value in hard_skills.data.items %}
        <div class="indicator border-2 border-green-300 border-dashed rounded-xl p-1">
            <div class="tooltip indicator-item indicator-end status status-error h-3 w-3 rounded-full cursor-pointer" _="on click remove closest parent <div.indicator/>" data-tip="Remove">
            </div>
            <input type="checkbox" class="checkbox checkbox-success" checked="checked">
            <span class="px-2">{{value.data.title}}</span>
        </div>
        {% endfor %}
        <div class="px-2 py-1 h-max text-center border-2 border-slate-300 rounded-xl shadow-md cursor-pointer" hx-trigger="click" hx-get="{% url "editor_create_entity" %}?entity_type=hard_skills" hx-target="#sections-container">
            Add new
        </div>
    </article>
</div>
